@model BookModel

@{
    ViewData["Title"] = "Books";
}

<partial name="_BookNavigation" />

<h1> @Model.Book.Name </h1>

<div class="container">
    <h3>Words in book</h3>

    @{
        var TableModel = new TableLinkModel()
        {
            Title = "Word count: " + Model.Book.Words.Count(),
            TableElements = Model.Book.Words.Select(w => TableElement.LinkMany(w.ID, w.Words.First().Text)),
            LeftHeaders = Model.Book.Words.Select(w => w.ID.ToString()),
            TopHeader = new[] { "ID", "Word" },
        };

        TableModel.ColumnLinks[0] = ("Entities", "Word");

        <partial name="_TableLinkPartial" for="@TableModel" />
    }
</div>
