@model BookModel

@{
    ViewData["Title"] = "EditWord";
}

<partial name="_BookNavigation" />

<h1>Add Words</h1>


<div>
    <a class="btn" role="button" asp-controller="Book" asp-action="AddWord">Add Word</a>
</div>