@model BookIndexModel

@{
    ViewData["Title"] = "Books";
}

<partial name="_BookNavigation" />

<h1>Select Book to display</h1>

@foreach (var book in Model.Books)
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Book" asp-route-id="@book.ID">@book.ID - @book.Name</a>
}