@model BookIndexModel

@{
    ViewData["Title"] = "Books";
}

<partial name="_BookNavigation" />

<div class="container">
    @{
        <h4>Book count: @Model.Books.Count()</h4>
        var TableModel = new TableLinkModel()
        {
            TableElements = Model.Books.Select(b => TableElement.LinkMany(b.ID, b.Name, b.LanguageName, b.Description, b.WordCount.ToString())),
            TopHeader = new[] { "Name", "Language", "Description", "Word Count" },
            AspAction = "Book",
            AspController = "Books",
        };

        <partial name="_TableLinkPartial" for="@TableModel" />
    }
</div>
