@model EditBookModel;

@{
    ViewData["Title"] = "Books";
}

<partial name="_BookNavigation" />

<div class="container">
    <form>
        <partial name="_AlertMessage" />
        <partial name="_EditBook" />

        <div class="form-group row">
            <div class="col-12">
                <button type="submit" class="btn btn-success" asp-controller="Books" asp-action="CompleteNewBook" formmethod="post">Save</button>
            </div>
        </div>
    </form>
</div>

