@{
    ViewData["Title"] = "Books";
}

<partial name="_BookNavigation" />

<div class="container">
    <form action="CompleteNewBook" method="post">
        <div class="form-group row">
            <label for="name" class="col-2 col-form-label">Book Name</label>
            <div class="col-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-2 col-form-label">Book Description</label>
            <div class="col-10">
                <input type="text" class="form-control" id="description" name="description" placeholder="Description">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>

