@model AdminModel;

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <p>
        <a asp-controller="Admin" asp-action="Clean">Clean Database</a><br>
        <a asp-controller="Admin" asp-action="AddWords">Populate with test data</a><br>
        <a asp-controller="Admin" asp-action="Migrate">Migrate Database to latest</a><br>
        <a asp-controller="Admin" asp-action="Delete">Delete Database</a><br>
    </p>
</div>
