@model AddWordsModel

@{
    ViewData["Title"] = "Words";
}

<script>
    function check(self) {
        var isChecked = $(self).is(":checked");
        // $("#TestCheckbox").isEnabled = isChecked;
        document.getElementById("TestCheckbox").isEnabled = isChecked;
    }
</script>

<partial name="_WordNavigation" />

<div class="container">
    <partial name="_LanguagePicker" />
</div>

<div class="container">
    <form asp-controller="Words" asp-action="AddWordsComplete" method="post">
        <div class="form-group row align-items-center">
            <div class="col-sm-12">
                <input class="form-check-input" type="checkbox" asp-for="TreatFirstWordAsArticle" onchange="check(this)">
                <label class="form-check-label" for="TreatFirstWordAsArticle">
                    Treat First Word As Article
                </label>
            </div>

            <div class="col-sm-12">
                <input class="form-check-input" type="checkbox" id="TestCheckbox" onchange="check(this)">
                <label class="form-check-label" for="TreatFirstWordAsArticle">
                    Treat First Word As Article
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-5">
                <label for="words" class="col-form-label">Words</label>
                <textarea type="text" rows="50" class="form-control" id="words" name="words"> </textarea>
            </div>

            <div class="col-sm-7">
                <label for="trans" class="col-form-label">Translations</label>
                <textarea type="text" rows="50" class="form-control" id="trans" name="trans"> </textarea>
            </div>
        </div>
    </form>
</div>
