@model AddWordsModel

@{
    ViewData["Title"] = "Words";
}

<script>
    function check(self) {
        var isChecked = $(self).is(":checked");
        // $("#TestCheckbox").isEnabled = isChecked;
        document.getElementById("TestCheckbox").isEnabled = isChecked;
    }
</script>

<partial name="_WordNavigation" />

<form asp-controller="Words" asp-action="AddWords" method="post">

    @if (!string.IsNullOrEmpty(Model.LogMessage))
    {
        <div class="@Model.LogType.AlertClass()" role="alert">
            @Model.LogMessage
        </div>
    }

    <div class="container">
        <partial name="_LanguagePicker" />
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#add1">Single Word</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#add2">Text Area</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#add3">Separate Text Areas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#add4">Separate Text Areas With Descriptions</a>
        </li>
    </ul>

    <br>
    <div class="tab-content">
        <div id="add1" class="tab-pane fade show active">
            <button type="submit" class="btn btn-success" id="SubmitButtonName" name="SubmitButtonName" value="1">Complete</button>

            <div class="form-group row">
                <div class="col">
                    <label for="SingleWordText" class="col-form-label">Word</label>
                    <input type="text" class="form-control" asp-for="SingleWordText" />
                </div>

                <div class="col">
                    <label for="SingleDefinitionText" class="col-form-label">Translation</label>
                    <input type="text" class="form-control" asp-for="SingleDefinitionText" />
                </div>
            </div>
        </div>

        <div id="add2" class="tab-pane fade">
            <button type="submit" class="btn btn-success" id="SubmitButtonName" name="SubmitButtonName" value="2">Complete</button>
            <div class="form-group row">
                <div class="col">
                    <label for="WordsCombinedArea" class="col-form-label">Word - Translation</label>
                    <textarea type="text" rows="25" class="form-control" asp-for="WordsCombinedArea"></textarea>
                </div>
            </div>
        </div>

        <div id="add3" class="tab-pane fade">
            <button type="submit" class="btn btn-success" id="SubmitButtonName" name="SubmitButtonName" value="3">Complete</button>

            <div class="form-group row">
                <div class="col">
                    <label for="WordsArea3" class="col-form-label">Words</label>
                    <textarea type="text" rows="25" class="form-control" asp-for="WordsArea3"></textarea>
                </div>

                <div class="col">
                    <label for="DefinitionsArea3" class="col-form-label">Translations</label>
                    <textarea type="text" rows="25" class="form-control" asp-for="DefinitionsArea3"></textarea>
                </div>
            </div>
        </div>

        <div id="add4" class="tab-pane fade">
            <button type="submit" class="btn btn-success" id="SubmitButtonName" name="SubmitButtonName" value="4">Complete</button>

            <div class="form-group row">
                <div class="col">
                    <label for="WordsArea4" class="col-form-label">Words</label>
                    <textarea type="text" rows="25" class="form-control" asp-for="WordsArea4"></textarea>
                </div>

                <div class="col">
                    <label for="DefinitionsArea4" class="col-form-label">Translations</label>
                    <textarea type="text" rows="25" class="form-control" asp-for="DefinitionsArea4"></textarea>
                </div>

                <div class="col">
                    <label for="DescriptionsArea4" class="col-form-label">Descriptions</label>
                    <textarea type="text" rows="25" class="form-control" asp-for="DescriptionsArea4"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
