@model WordsModel;

@{
    ViewData["Title"] = "Words";
}

<partial name="_WordNavigation" />

<div class="container">
    <form asp-controller="Words" asp-action="ShowRedirect" method="post">

        <partial name="_LanguagePicker" />

        <div class="form-group row">
            <div class="col-12">
                <button type="submit" class="btn btn-success">Display</button>
            </div>
        </div>
    </form>
</div>
