@model WordsModel;

@{
    ViewData["Title"] = "Words";
}

<partial name="Index" />

<div class="container">
    <br>
    <h3>Words: @Model.Words.Count()</h3>

    @foreach (var (word, def) in Model.Words.Zip(Model.Definitions, (w, d) => (w, d)))
    {
    <div class="grid">
        <div class="row">
            <div class="col-sm-1">@word.ID</div>
            <div class="col-sm-5">
                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="EditWord">@word.Text</a>
            </div>
            <div class="col-sm-6">@def.Text</div>
        </div>
    </div>
    }
</div>
