@model NewWordModel

@{
    ViewData["Title"] = "Edit " + Model.WordText;
}

<script>
    window.onbeforeunload = function () {
        return true;
    };
    
    function disableBeforeUnload() {
        window.onbeforeunload = null;
    }
</script>

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="WordID" value="@Model.WordID" />

        <partial name="_AlertMessage" for="@Model" />

        <partial name="_EditWord" for="@Model" />

        @* Update, Delete, Cancel Buttons *@

        <div class="form-group row">
            <div class="col">
                <button onclick="disableBeforeUnload()" type="submit" class="btn btn-success" asp-controller="Entities" asp-action="UpdateWord">Update</button>
                <a class="btn btn-sm btn-secondary" asp-controller="Entities" asp-action="Word" asp-route-id="@Model.WordID">Cancel</a>
            </div>

            <div class="col text-right">
                <button onclick="disableBeforeUnload()" type="submit" class="btn btn-danger btn-sm" asp-controller="Entities" asp-action="DeleteWord">Delete</button>
            </div>
        </div>
    </form>
</div>
