@model BookModel

<h1> @Model.Book.Name </h1>

<div id="words">
    <h3>Words in book</h3>
    <div id="wordTable">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Word</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var word in Model.Book.Words)
                {
                    <tr class="wordRow">
                        <td>@word.ID</td>
                        <td>@word.Text</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>