@model BookModel

<partial name="_BookNavigation" />

<h1> @Model.Book.Name </h1>

<div class="container" id="words">
    <h3>Words in book</h3>

    @foreach (var word in Model.Book?.Words)
    {
        <div class="grid">
            <div class="row">
                <div class="col-lg-1">@word.ID</div>
                <div class="col-lg-5">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="EditWord">@word.Text</a>
                </div>
                <div class="col-lg-6">@word.Translations?[0].Definition.Text</div>
            </div>
        </div>
    }
</div>
