@model LanguagesModel

@{
    ViewData["Title"] = "Languages";
}

<script>
    function check(obj) {
        if (obj.value.trim() != "") {
            document.getElementById("renameButton").disabled = false;
        }
        else {
            document.getElementById("renameButton").disabled = true;
        }
    }
</script>

<div class="container">
    <form asp-controller="Languages" asp-action="EditLanguages" method="post">
        <div class="form-group row">
            <label for="languageName" class="col-form-label">Language Name</label>
            <input type="text" class="form-control" id="languageName" name="languageName" placeholder="Name">
        </div>

        <partial name="_AlertMessage" />

        <div class="form-group row">
            <button type="submit" name="buttonName" value="New" class="btn btn-sm btn-primary">Add new Language</button>
        </div>

        <h3>Available Languages: @Model.AvailableLanguages.Count()</h3>

        @foreach (var lang in Model.AvailableLanguages)
        {
            <div class="grid">
                <div class="row">
                    <div class="col-1">
                        <h5>@lang.ID</h5>
                    </div>
                    <div class="col">
                        <h5>@lang.Name</h5>
                    </div>
                    <div class="col text-right">
                        <button type="submit" name="buttonName" value="Rename_@lang.ID" class="btn btn-sm">Rename</button>
                        <button type="submit" name="buttonName" value="Delete_@lang.ID" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            </div>
        }
    </form>
</div>
